body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  #display-Input {
    width: 90%;
    height: 50px;
    font-size: 2.5em;
    text-align: right;
    border: 2px solid #ccc;
    border-radius:10px;
    padding: 10px;
    margin-bottom: 20px;
    cursor:none;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #dcdcdc;
  }
  

  